# dependencies
/node_modules

# testing
/coverage

# sveltekit
/.svelte-kit/

# production
/build

# misc
.DS_Store
*.pem
.vscode
.preview.pid

# debug
npm-debug.log*

# env files
.env

# typescript
*.tsbuildinfo

# bun
bun.lock
